---
title: Digital Storage and Verification
permalink: /products-and-services/for-citizens/digital-storage-and-verification/
variant: tiptap
description: GovTech's digital storage and verification services facilitate the
  safe storage and sharing of verified official documents. Find out more.
third_nav_title: For Citizens
---
<h3>Creating services to facilitates secure storage and sharing of verified official documents</h3>
<p>Digitalisation is a big part of our transition into a Smart Nation. As
communications go digital, protocols are necessary in order to facilitate
the endorsement and transmission of sensitive documents between the government
and citizens.</p>
<p>GovTech's Digital Storage and Verification services cater to this need
by making it easy for authorities to certify the validity of official documents
while ensuring citizens can access and archive important government documents,
all in one place.</p>
<h3>Our digital storage and verification solutions</h3>
<div class="isomer-card-grid"><a rel="noopener noreferrer nofollow" href="/products-and-services/for-citizens/digital-storage-and-verification/filesg/" class="isomer-card"><div class="isomer-card-image"><div class="isomer-image-wrapper"><img style="width: 100%" height="auto" width="100%" alt="FileSG allows citizens to receive documents issued by all government agencies" src="/images/Products and Services/For citizens/FileSG_600x300.png"></div></div><div class="isomer-card-body"><div class="isomer-card-title">FileSG</div><div class="isomer-card-description">This secure digital document management platform allows citizens to access and download official government-issued documents.</div><div class="isomer-card-link">FileSG</div></div></a>
<a rel="noopener noreferrer nofollow" href="/products-and-services/for-citizens/digital-storage-and-verification/healthcerts/" class="isomer-card">
<div class="isomer-card-image">
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="HealthCerts was introduced to facilitate the safe resumption of travel during the COVID-19 period" src="/images/Products and Services/For citizens/HealthCerts_600x300.png">
</div>
</div>
<div class="isomer-card-body">
<div class="isomer-card-title">HealthCerts</div>
<div class="isomer-card-description">Powered by Notαrise, HealthCerts is a globally interoperable set of digital
standards and schema for COVID-19 test results and vaccination records.</div>
<div class="isomer-card-link">HealthCerts</div>
</div>
</a>
</div>
<p></p>