---
title: Digital Verification
permalink: /products-and-services/for-government-agencies/digital-verification/
variant: tiptap
description: Powered by blockchain, OpenAttestation is an open-source, backend
  framework that simplifies document endorsements and verifications.
third_nav_title: For Government Agencies
image: /images/Products and Services/open_attestation_logo.png
---
<h3><strong>Simplifying the verification of digital documents using blockchain with OpenAttestation</strong></h3>
<p>Our official Government identification documents have mostly gone digital
today. Think passports, driving licenses and qualitfications. In order
to ensure that the digital equivalents do exist and are authentic, the
blockchain protocols provide a reliable solution to store cryptographic
proof of individual documents. OpenAttestation open-source framework to
simplify the endorsement and verification of documents using the blockchain.
Today, the OpenAttestation framework has helped create the <a href="https://www.developer.tech.gov.sg/products/categories/blockchain/opencerts/overview.html" class="waffle-rich-text-link" rel="noopener noreferrer nofollow" target="_blank"><u>OpenCerts</u></a> project,
which stores authentic digital documents of education certifications, as
well as the HealthCerts for Covid-19 certifications that are in line with
International standards.</p>
<h3><strong>Why use OpenAttestation? </strong></h3>
<p>Offers verifiable credentials that are tamper-proof so it proves provenance
of the document. Offers verifiable issuers that are only registered in
the DNS records so that we know who the issuers are. Gives user power to
selective disclose information where necessary and comfortable to safeguard
data privacy. Renders your document in customised templates so you can
use the document to submit in the right formats.</p>
<h3><strong>How to use OpenAttestation? </strong></h3>
<p>OpenAttestation is not a service to be used like other governmental services
as it is backend framework that powers services such as OpenCerts or HealthCerts.
That means citizens get to enjoy any government services that are built
on this framework. For businesses or private sector partners, the OpenAttestation
is publicly listed in the Digital Public Goods Registry. Interested parties
may access the free-to-use framework <a href="https://digitalpublicgoods.net/registry/openattestation.html" class="waffle-rich-text-link" rel="noopener noreferrer nofollow" target="_blank"><u>here</u></a>.</p>
<h3><strong>Interested to find out more about OpenAttestation? </strong></h3>
<p>Visit the OpenAttestation website to read more about it. Stay informed
on updates and any new product developments by subscribing to our TechNews
Newsletter!</p>