---
title: Digital Verification
permalink: /products-and-services/for-government-agencies/digital-verification/
variant: tiptap
description: Powered by blockchain, OpenAttestation is an open-source, backend
  framework that simplifies document endorsements and verifications.
third_nav_title: For Government Agencies
image: /images/Products and Services/open_attestation_logo.png
---
<h2>Simplifying the verification of digital official documents with blockchain-powered OpenAttestation</h2>
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="OpenAttestation logo" src="/images/Products and Services/For Government Agencies/OpenAttestation.png">
</div>
<p>Today, official government documents are created, transmitted and stored
digitally. In an era when scams and forgery are rampant, there is a need
to ensure the authenticity and integrity of these digital documents.</p>
<p>Enter OpenAttestation, an open-source framework that simplifies the endorsement
and verification of official government documents. Created by GovTech's
Government Digital Services, it harnesses blockchain protocols to store
cryptographic proof of individual documents.</p>
<p>Today, the OpenAttestation framework has helped create the <a href="https://www.developer.tech.gov.sg/products/categories/blockchain/opencerts/overview.html" rel="noopener noreferrer nofollow" target="_blank"><u>OpenCerts</u></a> project,
which stores digital documents of educational certificates, as well as
HealthCerts for COVID-19 certifications that are in line with international
standards.</p>
<h3>Why use OpenAttestation?</h3>
<p></p>
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="OpenAttestation Features" src="/images/Products and Services/OpenAttestation_Features.png">
</div>
<p></p>
<div class="isomer-card-grid">
<div class="isomer-card">
<div class="isomer-card-body">
<div class="isomer-card-title">Ensure integrity of the document</div>
<div class="isomer-card-description">The framework offers verifiable, tamper-evident credentials that prove
the document's provenance.</div>
</div>
</div>
<div class="isomer-card">
<div class="isomer-card-body">
<div class="isomer-card-title">Verify issuance identity</div>
<div class="isomer-card-description">OpenAttestation checks the identity of the document's issuer through DNS.</div>
</div>
</div>
<div class="isomer-card">
<div class="isomer-card-body">
<div class="isomer-card-title">Safeguard data privacy</div>
<div class="isomer-card-description">Users are given the autonomy to selectively disclose information.</div>
</div>
</div>
</div>
<h3>How to use OpenAttestation?</h3>
<p>A backend framework, OpenAttestation is not a service that can be used
like other government services. However, citizens can use governmental
services that are built on this framework to verify their official documents,
such as OpenCerts and HealthCerts.</p>
<p>For businesses or partners in the private sector, the OpenAttestation
is publicly listed in the Digital Public Goods Registry. Interested parties
may access the free-to-use <a href="https://digitalpublicgoods.net/registry/openattestation.html" rel="noopener noreferrer nofollow" target="_blank">OpenAttestation framework</a> here.</p>
<h3>Interested to learn more about OpenAttestation?</h3>
<div class="isomer-card-grid"><a rel="noopener noreferrer nofollow" href="https://www.openattestation.com/" class="isomer-card"><div class="isomer-card-body"><div class="isomer-card-title">Visit the OpenAttestation website</div><div class="isomer-card-link">OpenAttestation</div></div></a>
<a rel="noopener noreferrer nofollow" href="http://eepurl.com/cUwIsD" class="isomer-card">
<div class="isomer-card-body">
<div class="isomer-card-title">Subscribe to the TechNews newsletter for updates</div>
<div class="isomer-card-link">Subscribe to TechNews</div>
</div>
</a>
</div>
<p></p>