---
title: Singapore in world first for facial verification
date: 2020-09-26
layout: link
description: ""
image: ""
variant: tiptap
external: https://www.bbc.com/news/business-54266602
---
